.wrap {
  background: var(--backgroundDrawer);
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 0;

  .example::-webkit-scrollbar {
    display: none;
  }

  .example {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

.tabWrapper {
  display: flex;
  align-items: center;
  overflow-x: scroll;
}

.tab {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.7rem;
  flex-shrink: 0;
  padding: 1rem;
  cursor: pointer;
  border-top: 1px solid var(--backgroundDrawer);
}

.imageWrapper {
  width: 1.6rem;
  height: 1.6rem;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.current {
  background: var(--background);
  border-top: 1px solid rgb(255, 178, 178);
}
