.wrap {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4.8rem;
}

.socialLinks {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2.4rem;

  @media (min-width: 768px) {
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: 1200px) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.linkWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.7rem;
  padding: 2.4rem;
  border-width: 1px;
  border-radius: 0.4rem;
  border-style: solid;
  transition: 0.2s;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;

  h3 {
    flex: 1;
  }

  &:hover {
    transform: scale(1.1);
  }
}

.imageWrapper {
  width: 2.6rem;
  height: 2.6rem;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
