.wrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  background: linear-gradient(
    0deg,
    rgba(3, 12, 22, 1) 0%,
    rgba(7, 33, 66, 1) 50%
  );
}

.head {
  background-color: rgba(3, 12, 22, 0.2);
  font-size: 1.5rem;
  padding: 1rem;
  text-align: center;
}

.body {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 4rem;
  flex-wrap: wrap;

  @media (min-width: 992px) {
    flex-wrap: nowrap;
  }

  @media (min-width: 1440px) {
    padding-inline: 10rem;
  }
}

.greeting {
  font-size: 2.5rem;
}

.contentLeft {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2.5rem;
  position: relative;
}

.title {
  color: var(--white);
  margin: 0;
  padding: 0;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  letter-spacing: 0.2rem;
  font-size: 4.5rem;

  @media (min-width: 768px) {
    font-size: 10rem;
  }
}

.subTitleWrapper {
  display: flex;
  flex-direction: column;
}

.subTitle {
  font-size: 2.5rem;
  color: var(--white);
  letter-spacing: 0.3rem;
  word-spacing: 0.3rem;
  line-height: 4rem;
  margin-top: 1.5rem;
}

.subTitleBorder {
  background: #ff4d5a;
  width: 10rem;
  height: 0.4rem;
  border-radius: 1rem;
  margin-bottom: 1rem;
}

.borderSecond {
  margin-left: 6rem;
}

.contentRight {
  height: 37rem;
  width: 37rem;
  position: relative;
  margin: auto;
}

.moon {
  background-color: #39beff;
  height: 17rem;
  width: 17rem;
  border-radius: 50%;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
  z-index: 1;
}

.crater {
  background-color: #31b4ff;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  position: relative;
}

.crater:before {
  content: "";
  position: absolute;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  box-shadow: -0.5rem 0 0 0.2rem #1ca4f9;
  top: 0.2rem;
  left: 0.7rem;
}

.crater1 {
  top: 2.7rem;
  left: 9rem;
  transform: scale(0.9);
}

.crater2 {
  bottom: 1.5rem;
  left: 6.1rem;
  transform: scale(0.6);
}

.crater3 {
  left: 1.5rem;
  transform: scale(1.05);
}

.crater4 {
  top: 2.3rem;
  left: 11.8rem;
  transform: scale(1.1);
}

.crater5 {
  left: 3.5rem;
  transform: scale(0.5);
}

.shadow {
  height: 19rem;
  width: 19rem;
  box-shadow: 2.1rem 0 0 0.5rem rgba(0, 0, 0, 0.15);
  border-radius: 50%;
  position: relative;
  bottom: 15.75rem;
  right: 4.6rem;
  filter: blur(0.3rem);
}

.eye {
  height: 1.2rem;
  width: 1.2rem;
  background-color: #161616;
  position: relative;
  border-radius: 50%;
}

.eyeL {
  bottom: 25.5rem;
  left: 5.9rem;
}

.eyeR {
  bottom: 26.7rem;
  left: 10.1rem;
}

.mouth {
  height: 0.5rem;
  width: 1rem;
  border: 0.3rem solid #161616;
  position: relative;
  bottom: 26.2rem;
  left: 7.9rem;
  border-top: none;
  border-radius: 0 0 1rem 1rem;
}

.blush {
  height: 0.75rem;
  width: 0.75rem;
  background-color: #f4dde4;
  position: relative;
  border-radius: 50%;
  filter: blur(0.3rem);
}

.blush1 {
  bottom: 27.3rem;
  left: 5rem;
}

.blush2 {
  bottom: 28rem;
  left: 11.5rem;
}

.orbit {
  height: 28rem;
  width: 28rem;
  border-radius: 50%;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  animation: spin 5s infinite linear;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.rocket {
  background-color: #fafcf7;
  height: 5rem;
  width: 2.5rem;
  border-radius: 50% 50% 0 0;
  position: relative;
  left: -1.1rem;
  top: 11.5rem;
}

.rocket:before {
  position: absolute;
  content: "";
  background-color: #39beff;
  height: 2rem;
  width: 5.5rem;
  z-index: -1;
  border-radius: 50% 50% 0 0;
  right: -1.5rem;
  bottom: 0;
}

.rocket:after {
  position: absolute;
  content: "";
  background-color: #39beff;
  height: 0.4rem;
  width: 1.5rem;
  border-radius: 0 0 0.2rem 0.2rem;
  bottom: -0.4rem;
  left: 0.43rem;
}

.window {
  position: relative;
  height: 1rem;
  width: 1rem;
  background-color: #151845;
  border: 0.2rem solid #b8d2ec;
  border-radius: 50%;
  top: 1.5rem;
  left: 0.5rem;
}

.buttonWrapper {
  display: flex;
  gap: 2.4rem;
  flex-wrap: wrap;
}

.button {
  // display: none;
  background: #39beff;
  border: 1px solid #39beff;
  outline: none;
  padding: 0.7rem;
  font-size: 1.6rem;
  min-width: 30rem;
  border-radius: 0.4rem;
  position: relative;
  color: var(--white);
  cursor: pointer;

  &::after {
    border: 1px solid var(--white);
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0.4rem;
    left: 0.4rem;
    z-index: 1;
    opacity: 1;
    border-radius: 0.4rem;
    transition: 0.5s;
  }

  &:hover::after {
    top: -0.4rem;
    left: -0.4rem;
  }
}

.hireButton {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
}

.imageWrapper {
  width: 1.8rem;
  height: 1.8rem;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
