.imageWrapper {
  width: 1.4rem;
  height: 1.4rem;
  transform: rotate(-90deg);
  transition: 0.5s;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.active {
  transform: rotate(0deg);
}

.body {
  display: flex;
  flex-direction: column;
  padding-inline: 0.2rem;
  gap: 0.7rem;
}

.titleWrapper {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  cursor: pointer;
}

.projectTitle {
  font-size: 1.2rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 0.7rem;
}

.explore {
  padding-left: 2rem;
  font-size: 1.2rem;
}

.folder {
  display: none;
  flex-direction: column;
  gap: 0.7rem;
}

.folderExpand {
  display: flex;
}

.list {
  display: none;
  flex-direction: column;
  gap: 0.7rem;

  li {
    list-style: none;
    padding-left: 2rem;
    display: flex;
    align-items: center;
    gap: 0.7rem;
  }
}

.folderExpandActive {
  display: flex;
}

.techImageWrapper {
  width: 1.4rem;
  height: 1.4rem;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
