.wrap {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.skillsWrapper {
  display: flex;
  background: var(--backgroundDrawer);
  border-radius: 1.6rem;
  overflow: hidden;
}

.list {
  flex: 1;
  padding: 1.6rem;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;

  li {
    list-style: square;
    margin-left: 1.6rem;
  }
}

.spacerStart {
  min-width: 5rem;
}

.spacerEnd {
  min-width: 2rem;
}
