.wrap {
  flex: 1;
  gap: 2.4rem;
  display: grid;
  grid-template-columns: 1fr;

  @media (min-width: 768px) {
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: 1200px) {
    grid-template-columns: 1fr 1fr 1fr;
  }

  @media (min-width: 1920px) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.card {
  display: flex;
  flex-direction: column;
  background: var(--backgroundDrawer);
  border-radius: 1.6rem;
  overflow: hidden;
  gap: 2.4rem;
}

.title {
  text-align: center;
  padding-top: 2.4rem;
}

.imageWrapper {
  height: 15rem;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.body {
  display: flex;
  flex-direction: column;
  padding: 0 2.4rem 2.4rem;
  gap: 2.4rem;
  cursor: pointer;
}

.description {
  text-align: justify;
  line-height: 2.4rem;

  p {
    display: inline-block;
    color: gray;
    cursor: pointer;
  }
}
.technologies {
  display: flex;
  flex-wrap: wrap;
  gap: 0.7rem;

  li {
    padding: 0.5rem 1rem;
    border-radius: 2rem;
  }
}

.link {
  color: gray;
}
