.wrap {
  background: var(--background);
  border-inline: 1px solid var(--borderDefault);
  display: flex;
  flex-direction: column;
  align-items: center;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.imageWrapper {
  width: 4.5rem;
  height: 4.5rem;
  padding-inline: 1rem;
  padding-block: 1rem;
  cursor: pointer;
  border-left: 1px solid var(--background);
  position: relative;
}

.active {
  border-left: 1px solid rgb(255, 178, 178);
}

.topWrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.themeSelecter {
  background: #202023;
  position: absolute;
  left: 4.5rem;
  bottom: 0;
  padding: 1.4rem;
  border-radius: 0.7rem;
  min-width: 200px;
  z-index: 1;
  display: none;
  flex-direction: column;
  gap: 0.7rem;
}

.themeSelecterFlex {
  display: flex;
}

.iconWrapper {
  width: 1.2rem;
  height: 1.2rem;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.themeName {
  display: flex;
  gap: 0.4rem;
  font-size: 1.2rem;
}
