@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");

:root {
  --background: #0d1116;
  --backgroundDrawer: #02040a;
  --foreground: #f5f5f5;
  --white: #fefefe;
  --borderDefault: rgb(56, 56, 56);
}

[data-theme="monokai"] {
  --background: #272822;
  --backgroundDrawer: #1e1f1c;
  --foreground: #f5f5f5;
  --white: #fefefe;
  --borderDefault: rgb(56, 56, 56);
}

[data-theme="githubdark"] {
  --background: #24292f;
  --backgroundDrawer: #1f2428;
  --foreground: #f5f5f5;
  --white: #fefefe;
  --borderDefault: rgb(56, 56, 56);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Ubuntu", sans-serif;
}

html,
body {
  max-width: 100vw;
  min-width: 100vw;
  max-height: 100vh;
  min-height: 100vh;
  overflow-x: hidden;
  font-size: 8px;
  /*  overflow: hidden;*/

  @media (min-width: 768px) {
    font-size: 10px;
  }
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-size: 1.5rem;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}
